# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
*.code-workspace

# package-local temp / build artifacts
packages/frame-master/tmp
packages/frame-master/test_project/.frame-master/build
packages/frame-master/test_project/.frame-master/debug-ui
apps/docs/.frame-master/build
apps/docs/.frame-master/cf-actions-temp
apps/docs/.wrangler
apps/docs/functions
apps/docs/optimized
